<a href="https://colab.research.google.com/github/Radanar/Data-Communication-with-SQL-/blob/main/ex03_Data_Communication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Frame in Pandas Library

In [ ]:
#Creating an empty data frame

import pandas as pd

data1 = [5,7,8,9,10]
df = pd.DataFrame(data1)
print(df)

    0
0   5
1   7
2   8
3   9
4  10

In [ ]:
#Creating an array or a list

data2 = [['Alex',10], ['Bob',12],['Cleark',13]]
print(data2)

[['Alex', 10], ['Bob', 12], ['Cleark', 13]]

In [ ]:
#Adding the list data into data frame

df2 = pd.DataFrame(data2)
print(df2)

        0   1
0    Alex  10
1     Bob  12
2  Cleark  13

In [ ]:
#Changing the row and column names

df2 = pd.DataFrame(data2, index=['rank1', 'rank2','rank3'],columns=["Name", "Age"])
print(df2)

         Name  Age
rank1    Alex   10
rank2     Bob   12
rank3  Cleark   13

In [ ]:
#Adding or deleting the columns and rows